/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

*:before,
*:after {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1200px;
    display: block;
}


/******************************************
/* Typography
/*******************************************/

h1 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin bottom: 0px;
}

h2 {
    color: #01304a;
    font-size: 40px;
    font-weight: bold
}

h3 {
    color: #606060;
    font-size: 26px;
    font-weight: 100;
}

h4 {
    color: white;
    font-size: 30px;
}

h5 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

body {
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-family: OpenSans;
    background-size: cover;
    margin bottom: 22px;
    background: #efefee;
}


/******************************************
/* Button
/*******************************************/

.btn {
    border-radius: 5px;
    display: inline-block;
    padding: 13px 80px;
    background: #f9e42e;
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    margin: 50px;
    color: #043049;
}

.btn-alt {
    border-radius: 5px;
    display: inline-block;
    padding: 13px 80px;
    background: #043049;
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    margin: 50px;
    color: white;
}

.btn-alt:hover {
    border-radius: 5px;
    display: inline-block;
    padding: 13px 80px;
    background: #083f5e ;
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    margin: 50px;
    color: white;
}

.twiter {
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 10px 10px;
}

.facebook {
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 50px 30px;
}


/******************************************
/* HEADER
/*******************************************/

header {
    height: 150px;
    background: #043049;
    background-size: cover;
}

.logo {
    margin: 0;
    color: white;
    font-weight: 900;
    padding: 40px 0 0;
    text-align: left;
    display: inline-block;
    float: left;
}

header li {
    list-style-type: none;
    display: inline;
}

header ul {
    padding: 70px 0 0;
    float: right;
}

header a {
    margin: 25px;
    color: yellow;
    text-decoration: none;
}

header a:hover {
    color: #c6b520;
}
/******************************************
/* CONTENT
/*******************************************/

#main {
    float: left;
    margin: 0 auto;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 800px;
    display: block;
}

article {
    padding: 50px 0 0;
}

article img {
    width: 800px;
    padding: 20px 0;
}

.firstcharacter {
    float: left;
    color: black;
    font-size: 90px;
    line-height: 50px;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: OpenSans;
}

article a {
    float: right;
    padding: 20px 0;
    text-decoration: none;
    color: #043049;
    font-weight: bold
}

article a:hover {
    float: right;
    padding: 20px 0;
    text-decoration:underline;
    color: #043049;
    font-weight: bold
}

hr {
    clear: both;
}

#sidebar {
    margin: 0 auto;
    padding-left: 30px;
    width: 310px;
    display: block;
    float: left;
}

#sidebar h3 {
    padding: 50px 0 0;
    font-size: 30px;
    font-weight: bold;
    color: #043049;
}

#sidebar nav {
    padding: 20px 0 0;
}

#sidebar li {
    padding: 5px;
}

#sidebar a {
    color: #043049;
    text-decoration: none;
    font-size: 24px;
}

#sidebar a:hover {
    color: #13628e;
    text-decoration: none;
    font-size: 24px;
}

#sidebar aside p {
    padding: 20px 0 0;
}

#sidebar aside h4 {
    padding: 50px 0 0;
    font-size: 30px;
    font-weight: bold;
    color: #043049;
    text-align: center;
}

.add {
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    height: 658px;
    background: #ffffff center;
}


/******************************************
/* CALL TO ACTION
/*******************************************/

#cta {
    margin-top: 50px;
    clear: both;
    text-align: center;
    height: 170px;
    background: #f9e42e center;
}


/******************************************
/* FOOTER
/*******************************************/

footer {
    text-align: center;
    height: 400px;
    background: #000000 center;
    background-size: cover;
    clear: both;
}

.logo-footer {
    color: #f9e42e;
    font-size: 48px;
    font-weight: 900;
    padding: 60px 0 0;
    text-align: center;
}

.footer copyright {
    display: block;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    padding: 40px 0 0;
    color: white;
}

small {
    display: block;
    color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/